.campo{
    display:flex ;
    align-items:center ;
}
.campo_e{
    z-index: 0;
    width: 300px;
    height: 450px;
    border: 2px solid #000;
    background-image: url(https://img.freepik.com/fotos-premium/campo-de-futebol-ou-futebol-ou-vista-superior-do-campo-com-marcacoes-e-proporcoes-adequadas-de-acordo-com-os-padroes_272787-789.jpg);

}

.campo_d{
    z-index: 0;
    width: 300px;
    height: 450px;
    border: 2px solid #000;
    background-image: url(https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQuBpZJ2ZohkPw1Xn55igmDTHWs4BsiEUDUWw&usqp=CAU);
}

.grande_area_d{
    position:absolute ;
    z-index: 0;
    border: 2px solid #000;
    width: 83.5px;
    height: 200px;
    transform: rotate(90) ;
    margin-right: 520px;
    
}
.grande_area_e{
    position: absolute;
    z-index: 1;
    border: 2px solid #000;
    width: 83.5px;
    height: 200px;
    margin-left: 518px;
    transform:rotate(90) ;
    margin-top: 80;
}

.pequena_area_e{
    position: absolute;
    z-index: 2;
    border: 2px solid #000;
    width: 30px;
    height: 90px;
    margin-left: 567px;
}

.pequena_area_d{
    position: absolute;
    z-index: 2;
    border: 2px solid #000;
    width: 30px;
    height: 90px;
    margin-left: 572px;
    margin-top: -0px;
    margin-right: 1145px;
}

.meia-lua_e{
    position: absolute;
    z-index: 3;
    transform: translate(-50%, -50%);
    margin-left: 64px;
    height: 45px;
    width: 90px;
    border: 2px solid #000;
    border-radius: 150px 150px 0 0;
    transform: rotate(90deg);
    margin-right: 450px;
    
}

.meia-lua_d{
    position: absolute;
    margin-left: 449px;
    z-index: 3;
    transform: translate(-50%, -50%);
    height: 45px;
    width: 90px;
    border: 2px solid #000;
    border-radius: 150px 150px 0 0;
    transform: rotate(270deg);
    margin-left: 384px;
}

.marca_do_penalti_e{
    z-index: 4;
    position: absolute;
    border: 2px solid #000;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    margin-left: 60px;
    background-color: #000;
}
.marca_do_penalti_d{
    z-index: 4;
    background-color: #000;
    position: absolute;
    border: 2px solid #000;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    margin-left: 550px;
}

.circulo_central_d{
    z-index: 5;
    position: absolute;
    margin-left: 280px;
    transform: translate(-50%, -50%);
    height: 45px;
    width: 90px;
    border: 2px solid #000;
    border-radius: 150px 150px 0 0;
    transform: rotate(90deg);
    margin-right: 230px;
}

.circulo_central_e{
    z-index: 5;
    position: absolute;
    margin-left: 233px;
    transform: translate(-50%, -50%);
    height: 45px;
    width: 90px;
    border: 2px solid #000;
    border-radius: 150px 150px 0 0;
    transform: rotate(270deg);
    margin-right: 280px;
}

.centro_do_campo{
    z-index: 6;
    position: absolute;
    border: 2px solid #000;
    width: 2px;
    height: 2px;
    border-radius: 50%;
    margin-left: 300px;
    background-color: #000;
}

.escanteio_ds{
    position: absolute;
    margin-left: 590px;
    margin-top: -434px;
    z-index: 7;
    transform: translate(-50%, -50%, -50%, -50%);
    height: 10px;
    width: 15px;
    border: 2px solid #000;
    border-radius: 150px 0 0 0;
    transform: rotate(270deg);
}

.escanteio_es{
    position: absolute;
    margin-left: -2px;
    margin-top: -434px;
    z-index: 7;
    transform: translate(-50%, -50%, -50%, -50%);
    height: 10px;
    width: 15px;
    border: 2px solid #000;
    border-radius: 0 0 0 150px;
    transform: rotate(270deg);
}

.escanteio_ei{
    position: absolute;
    margin-left: -5px;
    margin-top: 436px;
    z-index: 7;
    transform: translate(-50%, -50%, -50%, -50%);
    height: 10px;
    width: 15px;
    border: 2px solid #000;
    border-radius: 0 0 150px 0;
    transform: rotate(270deg);
}

.escanteio_di{
    position: absolute;
    margin-left: 590px;
    margin-top: 436px;
    z-index: 7;
    transform: translate(-50%, -50%, -50%, -50%);
    height: 10px;
    width: 15px;
    border: 2px solid #000;
    border-radius: 0 150px 0 0;
    transform: rotate(270deg);
}

h1{
text-align: center;
background-color:darkgoldenrod
}

img{
    transform: rotate(90px);
}

body{
    background-image:url(https://planetario.noticias.upside.rs/wp-content/uploads/sites/2/2020/04/Brasileir%C3%A3o.jpg)
    
}

.center{

    justify-content: center;
    
}

